a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent elements */
  transition: color .15s, opacity .15s;
}

a:active {
  opacity: 50%;
  color: purple;
}

a:hover {
  opacity: 75%;
}



body { 
  background-color: white; 
  margin: 0;
}

* {
  box-sizing: border-box; /* Apply to all elements, allows padding to be considered with vw */
  font-family: "Arial";
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  padding: 30px 30px 0 30px;
}

/* styles should apply only to direct child elements of .navbar, 
not to any deeper nested elements within those child elements. */
.navbar > div { 
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}

.div1 { 
  grid-column: 1;
  justify-self: flex-start;
}
.div2 { 
  grid-column: 2; 
  text-align: center; 
}

.div3 { 
  grid-column: 3; 
  justify-self: flex-end; 
  padding-right: 20px;
} 

.icon {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.name { 
  color: purple; 
  font-family: "Tourney";
  font-size: 30px;
}

.footer {
  text-align: center;
  padding: 30px;

}

.name-footer {
  color: black; 
  font-family: "Tourney";
  font-size: 30px;
}

.text-footer {
  color: black;
  font-size: 16px;
  padding: 5px;
}