/* Banner */
.banner {
    height: 125vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  /* Slider */
  .banner .slider {
    animation: autoRun 20s linear infinite;
    height: 10px;
    width: 200px;
    left: calc(50% - 100px);
    top: 40%;
    position: absolute;
    transform-origin: center;
    transform-style: preserve-3d;
    z-index: 2;
  }
  
  /* Slider Animation */
  @keyframes autoRun {
    from {
      transform: perspective(3000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
      transform: perspective(3000px) rotateX(-16deg) rotateY(360deg);
    }
  }
  
  /* Items in Slider */
  .banner .slider .item {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    inset: 0;
    position: absolute;
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(550px);
  }
  
  /* Image on Each Item */
  .banner .slider .item img {
    filter: brightness(1.2) drop-shadow(0 0 50px black); /* shadow effect */
    height: auto;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1); /* enlarge on hover */
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  /* Hover on Images */
  .banner .slider .item:hover img {
    transform: scale(1.4) rotateY(10deg) rotateX(10deg);
    transition: transform 0.5s ease;
  }
  
  .banner .slider .item img:not(:hover) {
    transition: transform 0.6s ease-out, filter 0.6s ease-out;
  }
  
  /* Content Under Slider */
  .banner .content {
    justify-content: center;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: min(1400px, 100vw);
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    bottom: 36px;
  }
  
  .banner .content h1 {
    color: teal;
    font-size: 12em;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 0.5;
    text-align: center;
    display: inline-block;
  }
  
  /* See-through Header Effect */
  .banner .content h1::after {
    color: transparent;
    content: attr(data-content);
    inset: 0;
    position: absolute;
    z-index: 2;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.781);
  }

  /* Avatar */
  .banner .content .model {
    background-image: url(./assets/images/contact/avatar2.png);
    bottom: 0;
    left: 0;
    height: 75vh;
    width: 100%;
    position: absolute;
    background-size: auto 105%; 
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
  }
  
  .me {
    text-align: right;
    font-family: "Zeyada", sans-serif;
    color: yellow;
    font-size: 6rem;
    margin: 0;
  }

  /* Responsive Design */
@media (max-width: 768px) {

  .banner .content h1 {
      font-size: 6rem; 
  }

  .me {
      font-size: 5rem; 
  }
}

@media (max-width: 480px) {

  .banner .content h1 {
      font-size: 5.5rem; 
  }

  .me {
      font-size: 4.5rem; 
  }
}