footer {
    background-color: #1ABC9C;
    padding: 0.75rem;
    text-align: right;
    font-size: 1rem;
    color: black;
    box-shadow: 0 0 20px 5px #09040C;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }