* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #5B2E7B, #241231); 
  color: #F5F5F5;
  font-family: "Verdana", sans-serif;

  height: auto;
  width: 100vw;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
