.my-skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.skills-container {
    text-align: center;
    border: solid, powderblue 3px;
    background-color: powderblue;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding: 150px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-out; 
    cursor: pointer;
    margin: 50px 50px 0 50px;
    position: relative;
    z-index: 1; 

}

.skills-container h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FF6F61;
    margin: 0;
}

