/* Background */
body {
  background-image: url('../images/contact/background.jpeg');
}

/* Banner */
.banner {
  height: 100vh; 
  width: 100vw;
  overflow: hidden;
  position: relative;
  text-align: center;
}

/* Slider */
.banner .slider {
  animation: autoRun 20s linear infinite;
  height: 250px;
  width: 200px;
  left: calc(50% - 100px);
  top: 10%;
  position: absolute;
  transform-origin: center;
  transform-style: preserve-3d;
  z-index: 2;
}
  /* Slider Animation */
  @keyframes autoRun {
      from {
          transform: perspective(3000px) rotateX(-16deg) rotateY(0deg);  
      }
      to {
          transform: perspective(3000px) rotateX(-16deg) rotateY(360deg);
      }
  }

/* Items in Slider */
.banner .slider .item {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  inset: 0;
  position: absolute;
  transform: 
      rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(550px); 
}

/* Image on Each Item */
.banner .slider .item img {
  filter: brightness(1.2) drop-shadow(0 0  50px black); /* shadow effect */
  height: auto;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1); /* enlarge on hover */
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover on Images */
.banner .slider .item:hover img {
  transform: scale(1.4) rotateY(10deg) rotateX(10deg);
  transition: transform 0.5s ease;
}
.banner .slider .item img:not(:hover) {
  transition: transform 0.6s ease-out, filter 0.6s ease-out; 
}

/* Content Under Slider */
.banner .content {
  justify-content: center;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: min(1400px, 100vw);
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  bottom: 36px;


}

.banner .content h1 {
  color: teal;
  font-size: 12em; 
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 0.5;
}

/* See-through Header Effect */
.banner .content h1::after {
  color: transparent;
  content: attr(data-content);
  inset: 0;
  position: absolute;
  z-index: 2;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.781);
}

/* Cursive Font - "Me" */
.banner .content .me {
  color: yellow;
  font-family: "Zeyada";
  font-size: 150px; 
  margin: 0;
  padding-left: 75%;
  line-height: 0.5;
}

/* Avatar */
.banner .content .model {
  background-image: url(../images/contact/avatar.png);
  bottom: 0; /**/
  left: 0;
  height: 75vh;
  width: 100%;
  position: absolute;
  background-size: auto 105%; /*130*/
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

/* Footer */
.footer {
  box-shadow: 0 0 20px 5px rgba(0, 128, 128, 0.438) !important;
}

/* RESPONSIVE DESIGN */

/* XL Devices (Large Desktops) */
/* min-width: 1281 */
/* Heights to Test: 800, 900, 1080, 1200 */
@media (max-width: 1400px) {


  /* 'Contact' Text */
  .banner .content h1 {
    font-size: 12em; /* Default: 12em */
  }

  .banner .content .me {
    font-size: 150px;
  }



  /* Banner */
  .banner .slider {
    height: 250px; /* Default: 250px */
    width: 200px; /* Default: 200px */
  }
}

/* Large Devices (Laptops, Desktops) */
/* min-width: 1025px */
/* Heights to Test: 720, 800, 900 */
/* Devices to Test: 1366x768, 1280x800 */
@media (max-width: 1280px) {


  /* 'Contact' Text */
  .banner .content h1 {
    font-size: 10em; /* Default: 12em */
  }

  .banner .content .me {
    font-size: 125px;
  }


  /* Banner */
  .banner .slider {
    height: 230px; /* Default: 250px */
    width: 180px; /* Default: 200px */
  }
}

/* Medium Devices (Tablets) */
/* min-width: 768px */
/* Heights to Test: 1024, 1112, 1366 */
/* Devices to Test: 768x1024, 834x1112, 1024x1366 */
@media (max-width: 1024px) {


  /* 'Contact' Text */
  .banner .content h1 {
    font-size: 8em; /* Default: 12em */
  }

  .banner .content .me {
    font-size: 100px;
  }


  /* Banner */
  .banner .slider {
    height: 220px; /* Default: 250px */
    width: 170px; /* Default: 200px */
  }
}

/* Small Devices (Large Phones) */
/* min-width: 481px */
/* Heights to Test: 720, 800, 896, 926 */
/* Devices to Test: 360x800, 428x926, 412x900 */
@media (max-width: 767px) {



  /* 'Contact' Text */
  .banner .content h1 {
    font-size: 6em; /* Default: 12em */
  }

  .banner .content .me {
    font-size: 75px;
  }


  /* Banner */
  .banner .slider {
    height: 210px; /* Default: 250px */
    width: 160px; /* Default: 200px */
  }
}

/* XS Devices (Small Phones) */
/* Heights to Test: 568, 667, 812, 844 */
/* Devices to Test: 375x667, 375x812, 393x844 */
@media (min-width: 320px) and (max-width: 480px) {



  /* 'Contact' Text */
  .banner .content h1 {
    font-size: 4em; /* Default: 12em */

  }

  .banner .content .me {
    font-size: 50px;
  }


  /* Banner */
  .banner .slider {
    height: 200px; /* Default: 250px */
    width: 150px; /* Default: 200px */
  }
}
