/* Base Styles */
body {
  background-color: #563478;
}

/* Hamburger Menu */
header {
  z-index: 100;
}

/* Parallax */
.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vw / 1.439);
  overflow: hidden;
  position: relative;
}

/* Parallax Images */
.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

/* Avatar Animation */
#avatar {
  display: inline-block;
  animation: bobbing 2s ease-in-out infinite;
}

@keyframes bobbing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Name */
.name {
  color: white;
  font-family: "Zeyada", cursive;
  position: absolute;
  text-shadow: 2px 2px 4px black;
  font-size: 5rem;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

/* About Me Section */
.about-me-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.about-me-container {
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 80%;
  padding: 50px 0 100px 0;
}

.about-me-container p {
  margin: 30px 90px 30px 90px;
  text-align: justify;
  font-weight: 300;
  line-height: 2rem;
}

.hello {
  color: yellow;
  font-family: "Zeyada", cursive;
  font-weight: bold;
  font-size: 2em;
}

.about-me-links {
  display: flex;
  justify-content: space-evenly;
}

.about-me-container a {
  color: yellow;
  text-decoration: none;
  opacity: 0.85;
  transition: opacity 0.2s ease-in-out;
}

.about-me-container a:hover {
  opacity: 1;
}

/* RESPONSIVE DESIGN */

/* Portrait devices */
@media (max-width: 844px) and (orientation: portrait) {
  .name {
    font-size: 4rem;
  }

}

/* Landscape devices */
@media (max-width: 844px) and (orientation: landscape) {

}

/* XL Devices (Large Desktops) */
@media (max-width: 1400px) {
  /* Add styles here if needed */
}

/* Large Devices (Laptops, Desktops) */
@media (min-width: 1025px) {
  /* Add styles here if needed */
}

/* Medium Devices (Tablets) */
@media (max-width: 1366px) and (orientation: landscape) {


}

/* Small Devices (Large Phones) */
@media (max-width: 926px) and (orientation: landscape) {

  .name {
    font-size: 3rem;
  }

}

@media (max-width: 767px) and (orientation: portrait) {

  .name {
    font-size: 3rem;
  }

}

@media (max-width: 480px) and (orientation: portrait) {

  .name {
    font-size: 2rem;
  }

  .about-me-container p {
    margin: 15px;
  }

}
