body {
    background-color: black;
}

.projects-section {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 100vh;
    width: 100vw;
}

a.project-item {
    background-color: powderblue;
    border: .2rem solid yellow;
    color: black;
    height: 500px;
    width: 31vw;
    justify-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    transition: opacity .15s;
}

a.project-item:hover {
    opacity: 75%;
}

a.project-item:active {
    opacity: 50%;
}

.image-alien, .image-checklist, .image-bsky {
    background-position: 50% 50%;
    background-size: cover;
    height: 70%;
    width: 100%;
}

.image-alien {
    background-image: url('../images/projects/fairy-godmother.png');
    background-color: rgba(0, 0, 0, 0.863);
}

.image-checklist {
    background-image: url('../images/projects/90s-replay.png');
    background-position: 50% 15%;
}

.image-bsky {
    background-image: url('../images/projects/bsky.jpg');
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    padding: .3rem;
}

.description {
    padding: 0 .3rem;
}

.keywords {
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    padding-top: .8rem;
}

/* RESPONSIVE DESIGN */

/* Portrait devices */
@media (max-width: 844px) and (orientation: portrait) {
    .projects-section {
        flex-direction: column;
        height: 100%;
        padding: 50px 0 50px 0;
    }

    a.project-item {
        margin: 15px 0 15px 0;
        width: 100vw;
        min-height: 500px;
    }
}

/* Landscape devices */
@media (max-width: 844px) and (orientation: landscape) {
    .projects-section {
        flex-direction: column;
        height: 100%;
        padding: 50px 0 50px 0;
    }

    a.project-item {
        margin: 15px 0 15px 0;
        width: 75vw;
    }
}

/* XL Devices (Large Desktops) */
@media (max-width: 1400px) {
    /* Add styles here if needed */
}

/* Large Devices (Laptops, Desktops) */
@media (min-width: 1025px) {
    /* Add styles here if needed */
}

/* Medium Devices (Tablets) */
@media (max-width: 1366px) and (orientation: landscape) {
    .projects-section {
        flex-direction: column;
        height: 100%;
        padding: 50px 0 50px 0;
    }

    a.project-item {
        margin: 15px 0 15px 0;
        width: 75vw;
    }
}

/* Small Devices (Large Phones) */
@media (max-width: 926px) and (orientation: landscape) {
    .projects-section {
        flex-direction: column;
        height: 100%;
        padding: 50px 0 50px 0;
    }

    a.project-item {
        margin: 15px 0 15px 0;
        width: 75vw;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .projects-section {
        flex-direction: column;
        height: 100%;
        padding: 50px 0 50px 0;
    }

    a.project-item {
        margin: 15px 0 15px 0;
        width: 100vw;
        min-height: 500px;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    .projects-section {
        flex-direction: column;
        height: 100%;
        padding: 50px 0 50px 0;
    }

    a.project-item {
        margin: 15px 0 15px 0;
        width: 100vw;
        min-height: 500px;
    }
}
