body {
  background-color: #161511;
}

.body {
  align-items: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.left-column {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
  color: powderblue;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

p {
color: white;
font-size: 1.5rem;
text-align: center;
}

.right-column {
  align-items: center;
  justify-content: center;
  display: flex;
}

.image-skills {
  display: block;
  height: auto;
  width: 100%;
}

/* Footer */
.footer {
  box-shadow: 0 0 20px 5px rgba(0, 128, 128, 0.438) !important;
}

/* RESPONSIVE DESIGN */

/* Portrait devices */
@media (max-width: 844px) and (orientation: portrait) {
  .body {
    grid-template-rows: 1fr 1fr;
  }
}

/* Landscape devices */
@media (max-width: 844px) and (orientation: landscape) {

}

/* XL Devices (Large Desktops) */
@media (max-width: 1400px) {
  /* Add styles here if needed */
}

/* Large Devices (Laptops, Desktops) */
@media (min-width: 1025px) {
  /* Add styles here if needed */
}

/* Medium Devices (Tablets) */
@media (max-width: 1366px) and (orientation: landscape) {

}

/* Small Devices (Large Phones) */
@media (max-width: 926px) and (orientation: landscape) {

}

@media (max-width: 767px) and (orientation: portrait) {

  .body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
  }

}

@media (max-width: 480px) and (orientation: portrait) {

  .body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
  }

}